<form [formGroup]="formLogin" (ngSubmit)="onSearch()" autocomplete="off" class="p-12 bg-BeigeHuelen mx-auto rounded-2xl w-100  px-8 pt-6 pb-8 mb-4 flex flex-col justify-center self-center  z-20">
  <div class="mb-4">
    <h3 class="font-semibold text-2xl text-center text-neutral">Iniciar Sesión </h3>
  </div>
  <div class="mb-4">
    <label class="text-sm  text-neutral tracking-wide font-semibold" for="username">Usuario</label>
    <input formControlName="usuario" class="text-white w-full px-4 py-2 border  border-collapse rounded-lg focus:outline-none focus:border-VerdeHuelen" id="username" type="text" placeholder="Usuario">
  </div>
  <div class="mb-6">
    <label class="text-sm  text-neutral tracking-wide font-semibold" for="password">Contraseña</label>
    <input formControlName="contrasena" class="text-white w-full px-4 py-2 border  border-collapse rounded-lg focus:outline-none focus:border-VerdeHuelen" id="password" type="password" placeholder="***********">
  </div>  
  <div class="flex items-center justify-between">
    <button class="w-full flex justify-center text- bg-VerdeHuelen  hover:bg-accent-content text-Negro-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500" type="submit">Ingresar</button>
  </div>
</form>
  

<!-- <ul>
  <li *ngIf="response">Usuario: {{ response.usuario }} <br> contrasena: {{ response.contrasena }} <br>Local: {{ response.local_asignado }}</li>
</ul> -->


  <!-- <div class="p-12 bg-BeigeHuelen mx-auto rounded-2xl w-100 ">
      
      <div class="space-y-5">
        <div class="space-y-2">
          <label class="text-sm  text-neutral tracking-wide font-semibold">Email</label>
          <input class=" w-full text-neutral px-4 py-2 border  border-collapse rounded-lg focus:outline-none focus:border-VerdeHuelen" type="" placeholder="Ingrese Usuario">
        </div>
        <div class="space-y-2">
          <label class="mb-5 text-sm font-semibold tracking-wide">
            Password
          </label>
          <input class="w-full content-center text-base px-4 py-2 border rounded-lg focus:outline-none focus:border-VerdeHuelen" type="" placeholder="Ingrese Contraseña">
        </div>
        <div class="flex items-center justify-between">
          
          
        </div>
        <div>
          <button type="submit" class="w-full flex justify-center text- bg-VerdeHuelen  hover:bg-accent-content text-Negro-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
            Iniciar Sesión</button>
      </div> -->

          