<div *ngIf="loader" class="fixed text-4xl font-jb inset-0 flex justify-center items-center bg-opacity-50 bg ">
    {{'{'}}Cargando...<span class="ml-5 loader mr-16 black"></span>{{'}'}}
</div>
<div class="lg:flex-row">
    <div class="w-full lg:w-7/12  relative my-auto mx-auto">
        <div *ngFor="let c of listadoComprasRecientes" class="mockup-code text-3xl my-8">
            <section class="flex-col inline-block w-full lg:w-2/3 xl:w-1/2 mx-auto" style="width: 650px;" >
                <pre data-prefix="#" class="text-start"><code class="bg-neutral-focus text-secondary font-jb">Nro pedido: {{c.id_compra}}</code></pre>
                <pre data-prefix=">" class="mt-3 text-base-content"><code class="font-jb">"Servir o llevar?": "{{c.tipo_servicio_compra}}"</code></pre>
                <pre data-prefix=">"class="text-accent"><code class="font-jb">"Estado": "{{c.estado}}"</code><code class="text-info font-jb"></code></pre>
                <pre data-prefix=">" class="mb-5 text-base-content "><code class="font-jb">"Preparaciones": </code><code class="text-info font-jb"></code></pre>
                <ng-container *ngFor="let p of c.preparaciones">
                    <div class="flex flex-wrap justify-start">
                        <div class="w-3/6">
                            <pre data-prefix="" class="text-base-content"><code class="ml-4 font-jb ">"{{p.nombre_prep}}": </code></pre>
                        </div>
                        <div class=" ml-24 " >
                            <pre data-prefix="" class="text-base-content "><code class=" font-jb ">x {{p.cantidad_item}}.</code></pre>
                        </div>
                    </div>
                </ng-container>
            </section>
            <div class="inline-block mx-auto lg:mx-20 w-full lg:w-auto">
                <button (click)="onActualizarPedido(c.id_compra, 'Pagado')" class="btn btn-primary flex mb-5 mr-auto btn-wide ">Pagado</button>
                <button (click)="onActualizarPedido(c.id_compra, 'Preparando')" class="btn btn-secondary flex mb-5 mr-auto btn-wide">En preparacion</button>
                <button (click)="onActualizarPedido(c.id_compra, 'Entregado')" class="btn btn-accent flex mb-5 mr-auto btn-wide">Entregado</button>
            </div>
        </div>
    </div>
</div>
<style>
    .font-jb {
        font-family: 'JetBrains Mono', monospace;
        font-weight: 500;
    }
</style>
