<!-- <div class="card w-6/12 h-96 bg-primary text-primary-content">
    <div class="card-body">
        <h2 class="card-title">id_compra: 1</h2>
        <p>tipo_servicio_compra: "servir"</p>
        <h1>Commits:</h1>
        <ul>
            <li>nombre_prep: "PullRequest"</li>
            <li>cantidad_item: "1"</li>
        </ul>
    </div>
</div> -->
<div class="mockup-code">
    <pre data-prefix="$"><code class="bg-warning text-warning-content">id_compra: 1</code></pre> 
    <pre data-prefix=">" class="text-warning"><code>tipo_servicio_compra: "servir"</code></pre> 
    <pre data-prefix=">" class="text-success"><code>nombre_prep: "PullRequest"</code></pre>
    <pre data-prefix=">" class="text-success"><code>cantidad_item: "1"</code></pre>
</div>