<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
<main>
    <nav> <!--topbar-->
        <div class=" ml-44">
            <div class="bg-neutral py-4 ml-4 pl-4 shadow  text-2xl  text-white ">
                <h1 class="font-bold pl-2">Titulo</h1>
            </div>
        </div>
    </nav>
    <main class="flex flex-col md:flex-row">
        <app-navbar-admin></app-navbar-admin>
        <section id="main" class="bg-base-content max-h-full main-content flex-1 pb-24 ">
            <h1 class="text-5xl text-primary">HOME PANEL ADMIN</h1>
            <app-graficos-admin></app-graficos-admin>
        </section>
    </main>
</main>