<nav class="navbar bg-neutral shadow-lg fixed top-0 right-0 w-72 h-screen flex flex-col">
    <div class="container inset-x-0 top-0">

        <ul class="animate__animated animate__fadeIn">
            <li class="menu-title">
                
                    <h2 class=" font-bold text-primary mb-4 text-4xl text-center">Carrito</h2>
                
            </li>
            <div class="divider font-bold text-success text-2xl">Categorias</div>
            <div class="overflow-y-auto overflow-x-hidden lg:h-48 md:h-32">
                <ng-container *ngFor="let categoria of MenuCatalogonavbar">
                    <div class="">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800 block mb-2 text-4xl"
                                href="#/catalogo#Categoria_{{categoria?.categoria?.id_cat}}"> <button (click)="sonidoTap()"
                                    class="text-base-content btn btn-wide bg-secondary-focus">{{categoria?.categoria?.nombre_cat
                                    | titlecase }}</button>
                            </a>
                        </li>
                    </div>
                </ng-container>
            </div>
        </ul>

    </div>

    <ul>
        <li *ngIf="itemsCarrito().length === 0; else carrito  ">
        </li>
    </ul>

    <ng-template #carrito>

        <div class="animate__animated animate__fadeIn w-72 bg-neutral flex-grow overflow-y-auto overflow-x-hidden lg:h-72 md:h-40">
            <ul class=" list-none p-0">
                <li class="mb-2" *ngFor="let item of itemsCarrito()">
                    <div class="flex items-center">
                        <div class="w-20 h-24 overflow-hidden">
                            <img [src]="item.producto.imagen_prep" class="w-full h-full object-cover">
                        </div>
                        <div class="flex items-center justify-between flex-grow">
                            <div class="w-36">
                                    <p class="font-semibold  text-neutral-content mx-1">{{ item.producto.nombre_prep |
                                        titlecase}}
                                    </p>
                                    <p class="font-semibold text-accent mx-1"> $ {{item.producto.precio_prep *
                                        item.cantidad | thousands }}</p>
                                <div class="flex items-center">
                                    <p class=" text-s font-semibold p-2 text-neutral-content">Un. </p>
                                    <button class="btn btn-s bg-neutral-focus"
                                        (click)="decrementarCantidad(item)">-</button>
                                    <span class="text-error-content font-semibold mx-1 ">{{item.cantidad}}</span>
                                    <button class="btn btn-s bg-neutral-focus"
                                        (click)="incrementarCantidad(item)">+</button>
                                        <div class="flex items-center ml-2">
                                <button class="btn btn-square btn-md btn-error no-animation" (click)="eliminarItem(item)"><i
                                        class="fa-regular fa-trash-can"></i></button>
                            </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </ng-template>


    <div class="animate__animated animate__fadeInUp absolute bottom-0 w-full bg-neutral ">
        <div class="container mx-auto lg:py-4 lg:h-44 md:py-0 md:h-24 mb-10 ml-5">
            <h3 class="text-center items-start font-bold text-base-content lg:text-3xl md:text-xl">Total</h3>
            <ul>
                <li *ngIf="itemsCarrito().length === 0; else totalcompra">
                    <p class="text-center">Tu carrito está vacío.</p>
                    <br>
                </li>
            </ul>
            <ng-template #totalcompra >
                    <p class="text-center text-accent lg:text-4xl md:text-2xl mb-3">$ {{totalCarrito() | thousands}}</p>
                    <ul class="">
                        <li>
                            <label for="my-modal-4" (click)="sonidoTap()" class="btn btn-wide text-neutral text-xs btn-success mb-4" >
                                Ver carrito
                                <i class=" ml-3 fa-solid fa-cart-shopping"><span class="ml-2 badge badge-sm indicator-item">{{carritoLength()}}</span></i>
                            </label>
                           
                        </li>
                        <li>
                            <button class="btn text-xs text-base-content btn-wide btn-error" (click)="botonClearCart()">Limpiar carrito</button>
                        </li>        
                    </ul>
                                
                <br>
            </ng-template>
        </div>
    </div>

    <div #carritoComponent>
        <app-carrito></app-carrito>
    </div>
</nav>