<div class="cart">
    <br>
    <div class=" flex justify-center">

        <!--  style="display: inline-block; background-repeat: no-repeat; background-position: 50%; background-size: 100%; background-image: url(../../../assets/Catalogo/categorias/1.svg);" -->
        <h1 class="text-secondary text-center  text-3xl font-semibold py-10">
            Carrito de compras
        </h1>

    </div>
    <div *ngIf="itemsCarrito().length === 0; else elseblock">
        <p class="text-center">No existen objetos en la bolsa de compras.</p>
    </div>

    <ng-template #elseblock>
        <div class="flex justify-center">
            <table class="table object-center">
                <thead class="table-header-group">
                    <tr>
                        <th></th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr *ngFor="let item of itemsCarrito()" class>
                        <td><img src="{{item.producto.imagen_prep}}" class=" h-10"></td>
                        <td class="text-lg">{{ item.producto.nombre_prep | titlecase }}</td>
                        <td class="text-lg">${{ item.producto.precio_prep | thousands }}</td>
                        <td>
                            <button class="btn btn-xs" (click)="decrementarCantidad(item)"
                                [disabled]="item.cantidad === 1">-</button>
                            {{ item.cantidad }}
                            <button class="btn btn-xs" (click)="incrementarCantidad(item)">+</button>
                        </td>
                        <td class="text-lg">${{ item.producto.precio_prep * item.cantidad | thousands }}</td>
                        <td>
                            <button class="btn btn-error no-animation" (click)="eliminarItem(item)">Eliminar
                                item</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="table-footer-group">
                    <tr>
                        <td colspan="3" class="text-xl">Total:</td>
                        <td></td>

                        <td class="text-xl">${{totalCarrito() | thousands }}</td>
                        <td> <button class="btn btn-success " (click)="botonPreCheckout()">Ir a pagar</button></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="flex justify-center">
            <button class="object-center btn btn-error" (click)="clearCart()">Limpiar carrito de compras</button>

        </div>
    </ng-template>
</div>