<head>
	<title>CafeHuelén</title>
</head>

<body class="bg-VerdeHuelen">
	<header class="mx-auto bg-BeigeHuelen px-4 py-6">
		<div class="container mx-auto">
			<h1 class="text-4xl font-bold text-gray-800" id="Home">Catálogo Café Huelén</h1>
		</div>
	</header>
	<nav class="navbar bg-white shadow-lg fixed top-0 right-0 w-72 h-screen flex flex-col justify-between">
		<div class="flex-none hidden lg:flex">
		<button class="btn btn-square btn-ghost">
			<span class="text-lg font-bold">My Website</span>
		</button>
		</div>
		<div class="flex-1 hidden px-2 mx-2 lg:flex">
		    <div class="items-stretch hidden lg:flex">
			    <a class="btn btn-ghost btn-sm rounded-btn">Home</a>
			    <a class="btn btn-ghost btn-sm rounded-btn">About</a>
			    <a class="btn btn-ghost btn-sm rounded-btn">Contact</a>
		    </div>
		</div>
		<div class="flex-none lg:hidden">
		    <button class="btn btn-square btn-ghost">
			    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
			        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
			    </svg>
		    </button>
		</div>
	  </nav>
	  
	<!-- <div class="navbar bg-white shadow-lg fixed top-0 right-0 w-72 h-nscree flex flex-col justify-between">
		<div class="p-4">
			<ul >
				<li>
					<a href="catalogo#Home"><h2 class=" font-bold text-gray-800 mb-4 text-4xl"> Navigation</h2></a>
				</li>
				<li *ngFor="let categoria of Categories, let i = index">
					<a class="text-gray-600 hover:text-gray-800 block mb-2 text-4xl" href="catalogo#{{categoria.id}}" > <button class="btn btn-wide">{{categoria.name}}</button> </a>
				</li>
			</ul>

		</div>
	</div> -->

	<main class="container mx-auto max-w-5xl">

		<!-- SECCION DE OTROS -->
		<div *ngFor="let categoria of Categories">
			<br>
			<h1 class=" bg-BeigeHuelen2 text-3xl font-semibold text-gray-800 max-w-full" id="{{categoria.id}}">
				{{categoria.name}}</h1>
			<br>
			<div class="grid gap-5  md:grid-cols-2 lg:grid-cols-3 h-38 pr-60 pl-50 ">
				<div *ngFor="let item of categoria.items, let i = index">
					<div>
						<section id="card_Item{{ item.id }}" class="card card-compact w-60 h-96 bg-white shadow-2xl">
							<figure><img src="{{ item.img }}" alt="{{ item.name }}" class="w-full"></figure>
							<div class="card-body">
								<h2 class="card-title text-xl font-bold text-gray-800 mb-2">{{ item.name}}</h2>
								<h3 class=" font-semibold">{{ item.ingredients }}</h3>
								<!-- <ul class="list-disc mt-2">	<li *ngFor="let ingredient of item.ingredients">{{ ingredient }}</li> </ul> -->
								<p class="text-gray-800 font-bold mb-0">Precio: $ {{ item.price }}</p>
							</div>
						</section>

					</div>
				</div>
			</div> 
		</div>




	</main>
	<br>
	<footer class="footer bg-gray-800 text-white text-center p-10 ">
		<p class="text-sm">© 2020 BrewSoftware - Todos los derechos reservados</p>
	</footer>
</body>