<head>
    <title>{{'{...}'}}CafeScript</title>
</head>

<body class="">
    <header class="mx-auto px-4 py-6">
        <div class="container mx-auto">
            <div class="navbar bg-base-100">
                <div class="flex-1">
                    <a class="normal-case text-xl">
                        <span class="text-4xl font-bold text-neutral-content" id="Home">{{'{...}'}}
                            CatálogoScript</span>
                    </a>
                    <a class="btn btn-ghost ml-14 normal-case text-xl">Preparaciones</a>
                    <a class="btn btn-ghost ml-14 normal-case text-xl">Nuestro software</a>
                </div>
            </div>
        </div>
    </header>
 
    <div>
        <main class=" container mx-28 content-allign-center">


            <ng-container *ngIf="mostrarCatalogo ">
                
                <div class="mr-72">
                    <div class="hero">
                        <div class="hero-content flex-col lg:flex-row-reverse ">
                            <img src="../../../assets/indexCafe.png" class="max-w-sm rounded-lg " />
                            <div>
                                <h1 class="text-5xl font-bold">Cafe Commit</h1>
                                <h1 class="py-6 text-2xl">El cafe lleno de conflictos</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <app-navbar-cliente></app-navbar-cliente>
                <app-menu></app-menu>

                
            </ng-container>



            <ng-container *ngIf="mostrarCarrito">
                <app-carrito></app-carrito>
            </ng-container>

            <br>

        </main>

        <footer class="footer bg-gray-800 text-white text-center p-10 ">
            <p class="text-sm">© 2023 BrewSoftware - Todos los derechos reservados</p>
            <br>
            <br><br>
        </footer>
    </div>
    <div class="bg-info-content btm-nav">
        <button (click)="mostrarCatalogoMenu()">
            <i class="fa-solid fa-mug-saucer"></i>
        </button>

        <button (click)="mostrarComponenteCarrito()" [disabled]="itemsCarrito().length === 0">

            <i class="fa-solid fa-cart-shopping"></i>

            <span class="badge badge-sm indicator-item">{{carritoLength()}}</span>

        </button>
    </div>

</body>