<head>
    <title>{{'{...}'}}CafeScript</title>
</head>
<body class="">
    <header class="mx-auto px-4 py-6">
        <div class="container mx-auto">
            <div class="navbar bg-base-100">
                <div class="flex-1">
                    <a class="text-4xl font-bold text-base-content">
                        <!-- <span class="text-4xl font-bold text-base-content" id="Home">{{'{...}'}}cafeScript</span> -->
                        <span>{{'{..'}}</span><span class="text-warning">.</span><span>{{'}'}}cafe</span><span class="text-warning">S</span><span>cript</span>
                    </a>
                    <div class="ml-96 animate__animated animate__fadeIn">
                        <a class="btn btn-ghost ml-14 normal-case text-xl">Preparaciones</a>
                        <a class="btn btn-ghost ml-14 normal-case text-xl">Nuestro equipo</a>
                        <a class="btn btn-ghost ml-14 normal-case text-xl">Enseñame a comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
        <ng-template class="hero h-96" #Hero>
            <!-- <div class="ml-20 hero h-96" style="height: 400px; background-image: url(../../../assets/catalogo/Bigfoot-bro.svg);"  > -->
            <div class="hero-content flex-col lg:flex-row-reverse containerWidthWithoutCart" >
                <!-- <img  src="../../../assets/catalogo/indexCafe_1.png" class=" h-96 max-w-sm rounded-lg " /> -->
                <img src="../../../assets/catalogo/dracula1.1.svg" class="animate__animated animate__fadeIn h-96 max-w-sm rounded-lg " />
                <!-- <img src="../../../assets/indexCafe.png" class="max-w-sm rounded-lg " /> -->
                <!-- <img src= class="max-w-sm rounded-lg " /> -->
                <div class="">
                    <h1 class="animate__animated animate__fadeIn text-5xl font-bold ">Café Commit</h1>
                    <h1 class="animate__animated animate__fadeIn py-6 text-2xl">El café lleno de conflictos</h1>
                </div>
            </div>
        </ng-template>
        <main>
            <ng-container *ngIf="mostrarCarrito; else Hero">
                <app-carrito></app-carrito>
            </ng-container>
            <ng-container *ngIf="mostrarCatalogo ">
                
                    <app-navbar-cliente></app-navbar-cliente>
                    <app-menu></app-menu>
            </ng-container>
            <br>
        </main>
        <!-- <footer class="footer bg-gray-800 text-white text-center p-10 ">
            <p class="text-sm">© 2023 BrewSoftware - Todos los derechos reservados</p>
        </footer> -->
    
    <div class="bg-neutral btm-nav containerWidthWithoutCart">
        <button (click)="mostrarCatalogoMenu()">
            <i class="fa-solid fa-mug-saucer"></i>
        </button>

        <button (click)="mostrarComponenteCarrito()" [disabled]="itemsCarrito().length === 0">

            <i class="fa-solid fa-cart-shopping"></i>

            <span class="badge badge-sm indicator-item">{{carritoLength()}}</span>

        </button>
    </div>

</body>