<!-- Tabla PREPARACIONES -->
<section>
    <div class=" w-full pb-20 ">
        <h1 class="text-4xl text-neutral font-bold pb-10 text-center">Preparaciones</h1>
        <table class="block mx-auto table table-zebra table-auto  md:w-32 lg:w-48">
            <thead class="text-4xl text-VerdeHuelen font-bold pb-10 text-center">
                <tr class=" text-center text-1xl ">
                    <th>ID</th>
                    <th>Nombre Preparación</th>
                    <th>Descripción</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th><div class=" dropdown dropdown-left">
                        <label tabindex="0" class="btn m-1 btn-success">Agregar <i class="pl-2 fa-solid fa-plus"></i> </label>
                        <div tabindex="0" class="dropdown-content card  w-70 p-2 shadow bg-neutral-focus">
                            <div class="card-body">
                                <app-detalle-prep></app-detalle-prep>
                            </div>
                        </div>
                    </div></th>
                </tr>
            </thead><!-- head -->
                <tbody><!-- body -->
                    <tr class="text-center" *ngFor="let preparacionTabla of responseListadoPreparacion | paginate:{itemsPerPage:5,currentPage:pagesPrep,id:'prep'};let i = index">
                        <td>{{ preparacionTabla.id_prep }}</td>
                        <td>{{ preparacionTabla.nombre_prep | titlecase }}</td>
                        <td>{{ preparacionTabla.descripcion_prep | titlecase }}</td>
                        <td>{{ preparacionTabla.nombre_cat | titlecase}}</td>
                        <td>{{ preparacionTabla.precio_prep | currency: '$': 'symbol':'1.0-0' }}</td>
                        <td>
                            <div class="avatar">
                                <div class="w-24 rounded">
                                    <img src="{{ preparacionTabla.imagen_prep }}"
                                        alt="{{ preparacionTabla.nombre_prep }}" />
                                </div>
                            </div>
                        </td>
                        <th class="text-center "> <!--dropdown edit prep-->
                            <div class="mr-10 ">
                                <div class=" dropdown dropdown-left">
                                    <label class="btn bg-slate-700 hover:bg-green-500 hover:text-black" tabindex="0"    
                                    (click)="seleccionarId(preparacionTabla.id_prep) ; rellenarFormulario('formPreparaciones')">Editar
                                    <i class="pl-2 fa-solid fa-pencil text-green-600"></i></label>
                                    <div tabindex="0" class="dropdown-content card  w-70 p-2 shadow bg-neutral-focus ">
                                        <div class="card-body">
                                            <h1 class="text-xl font-bold pb-10 text-white text-center">Actualizar Preparación</h1>
                                            <form [formGroup]="formPreparaciones"(ngSubmit)="onActualizar('editPrep', this.idSeleccionado)">
                                                <div class="form-control">
                                                    <label class="input-group input-group-vertical">
                                                        <span>Nuevo nombre para la preparacion</span>
                                                        <input (keyup)="passToLower(formPreparaciones, 'nombre_prep')" formControlName="nombre_prep" type="text"
                                                            placeholder="Introduzca un nombre de la preparación"
                                                            class="mb-4 input input-bordered pt-2" />
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label class="input-group input-group-vertical">
                                                        <span>Nueva descripcion</span>
                                                            <input (keyup)="passToLower(formPreparaciones, 'descripcion_prep')" formControlName="descripcion_prep" type="text"
                                                                placeholder="Introduzca la descripcion de la preparación"
                                                                class="mb-4 input input-bordered pt-2" />
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label class="input-group input-group-vertical">
                                                        <span>Nuevo precio</span>
                                                            <input formControlName="precio_prep" type="number"
                                                                placeholder="Introduzca el precio de la preparación"
                                                                class="mb-4 input input-bordered pt-2" />
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <label class="input-group input-group-vertical">
                                                    <span>Nueva link de imagen</span>
                                                        <input pattern="(((ftp|http|https):\/\/)|(\/)|(..\/))(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?" 
                                                            formControlName="imagen_prep" type="text" placeholder="Introduzca la imagen de la preparación" class="mb-4 input input-bordered pt-2" />
                                                    </label>
                                                </div>
                                                <div class="form-control">
                                                    <select name="listCat-Preparaciones" formControlName="id_cat_prep"
                                                        required class="ml-5 mt-5 select select-bordered w-full max-w-xs">
                                                        <option disabled selected>Seleccione una categoria</option>
                                                        <option *ngFor="let categoria of responseListadoCategorias"
                                                            value="{{categoria.id_cat}}">{{categoria.nombre_cat | titlecase}}</option>
                                                    </select>
                                                </div>
                                                <button class=" mt-2 btn w-full max-w-xl" type="submit">Actualizar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div><!-- Fin dropdown edit prep-->
                                <!-- alert eliminar prep-->
                                <swal 
                                    #deletePrepSwal
                                    title="¿Estás seguro de eliminar {{preparacionTabla.nombre_prep | titlecase }}?"
                                    icon="question"
                                    iconColor="#f8bb86"
                                    fontText="bold"
                                    confirmButtonText="<b>Sí,quiero eliminar</b>"
                                    cancelButtonText="<b>Cancelar</b>"
                                    confirmButtonColor = "#2b8565"
                                    [showCancelButton]="true"
                                    [focusCancel]="true"
                                    (confirm)="(onDelete('deletePrep', this.idSeleccionado))">
                                </swal>
                                <button 
                                    [swal]="deletePrepSwal"
                                    class="btn bg-slate-700  btn-group-horizontal hover:text-black font-bold hover:bg-red-200"
                                    (click)="seleccionarId(preparacionTabla.id_prep); ">Eliminar
                                    <i class="pl-2 fa-solid fa-trash text-red-600"></i>
                                </button>
                                <!-- Fin alert eliminar prep-->
                            </div>
                        </th> 
                    </tr>
                </tbody>
            <tfoot><!-- foot -->
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class=" sm:w-1/4 md:w-1/2 lg:w-1/3 last:text-center"><pagination-controls 
                        id="prep" 
                        screenReaderPaginationLabel="Paginación"
                        screenReaderPageLabel="página"
                        screenReaderCurrentLabel="Estás en esta pagina" 
                        (pageBoundsCorrection)="pagesPrep=$event" 
                        (pageChange)="pagesPrep=$event" 
                        previousLabel="" 
                        nextLabel="" 
                        [autoHide]="true"
                        [responsive]="true"
                        [maxSize]="5"
                        class=" font-bold text-sm pb-1 pt-5 items-center "></pagination-controls></th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
<!-- Fin Tabla PREPARACIONES -->

 <!--TABLA preparaciones desactivadas-->
 <section>
    <div class=" w-full pt-10">
        <h1 class="text-4xl text-neutral font-bold pb-10 text-center">Preparaciones Desactivadas</h1>
        <table class="block mx-auto table table-zebra table-auto border-4 md:w-32 lg:w-48">
            <thead class="text-4xl font-bold pb-10 text-center">
                <tr class=" text-center text-1xl ">
                    <th>Nombre Preparación</th>                                
                    <th>Estado</th>
                    <th></th>
                    <th>categoria asignada</th> 
                </tr>   
            </thead><!-- head -->
            <tbody>
                <tr class="text-center" *ngFor="let detallePrepDesactivadosTabla of responseListadoPreparacionesDes | paginate:{itemsPerPage:5,currentPage:pagesPrepDes,id:'prepDes'}" >
                    <td>{{ detallePrepDesactivadosTabla.nombre_prep | titlecase}}</td>
                    <td>{{ detallePrepDesactivadosTabla.estado }}</td>
                    <td class="text-center ">
                        <button [swal]="enableCat" type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto"  (click)="toggleChecked(); seleccionarId(detallePrepDesactivadosTabla.id_prep)">Activar</button>
                        <swal
                                #enableCat
                                title="¿Estás seguro de habilitar esta preparación?"
                                icon="question"
                                iconColor="#f8bb86"
                                fontText="bold"
                                confirmButtonText="<b>Habilitar</b>"
                                cancelButtonText="<b>Cancelar</b>"
                                confirmButtonColor = "#2b8565"
                                [showCancelButton]="true"
                                [focusCancel]="true"
                                (confirm)="(onActualizar('editPrepDesh', this.idSeleccionado))">>
                            </swal> 
                    </td>
                    <td>
                        <div  class="dropdown dropdown-right">
                            <label tabindex="0" class="btn m-1">Categoria Relacionada</label>
                            <ul tabindex="0" class="dropdown-content listDots text-left p-2 shadow bg-base-100 rounded-box w-52">
                                <h5 class="text-sm">Categoria:</h5>
                                <span >
                                    <li> {{ detallePrepDesactivadosTabla.nombre_cat | titlecase}} </li>

                                </span>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot><!-- foot -->
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class=" sm:w-1/4 md:w-1/2 lg:w-1/3 last:text-center"><pagination-controls 
                        id="prepDes" 
                        screenReaderPaginationLabel="Paginación"
                        screenReaderPageLabel="página"
                        screenReaderCurrentLabel="Estás en esta pagina" 
                        (pageBoundsCorrection)="pagesPrepDes=$event" 
                        (pageChange)="pagesPrepDes=$event" 
                        previousLabel="" 
                        nextLabel="" 
                        [autoHide]="true"
                        [responsive]="true"
                        [maxSize]="5"
                        class=" font-bold text-sm pb-1 pt-5 items-center "></pagination-controls></th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
<!--FIN tabla preparaciones desactivadas-->