<main>
    <nav class="bg-gray-900">
        <div class=" ml-44">
            <div class="bg-neutral py-4 ml-4 pl-4 shadow  text-2xl  text-white ">
                <h1 class="font-bold pl-2">Titulo</h1>
            </div>
        </div>
    </nav>
    <div class="flex flex-col md:flex-row bg-gray-900 "><!--Bg fondo-->
        <app-navbar-admin></app-navbar-admin>
        <section id="main" class="bg-base-content h-screen flex-1 mx-auto   "><!-- Cartas y Formularios-->
                <div class="container w-fit " [hidden]="!mostrarFormPrep">
                    <h1 class="text-xl font-bold pb-10  text-center">Agregar Preparaciones</h1>
                    <form [formGroup]="formPreparaciones" (ngSubmit)="onCreate('createPrep')">
                        <div class="form-control">
                            <label class="label">
                            </label>
                            <label class="input-group input-group-vertical">
                                <span>Nombre preparacion</span>
                                <input (keyup)="passToLower(formPreparaciones, 'nombre_prep')" formControlName="nombre_prep" type="text"
                                    placeholder="Ingrese un nombre" class="input input-bordered input-accent	" />
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="label">
                            </label>
                            <label class="input-group input-group-vertical">
                                <span>Descripcion de la preparacion</span>
                                <input (keyup)="passToLower(formPreparaciones, 'descripcion_prep')" formControlName="descripcion_prep" type="text"
                                    placeholder="Ingrese una descripcion"
                                    class="input input-bordered" />
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="label">
                            </label>
                            <label class="input-group input-group-vertical">
                                <span>Precio</span>
                                <input min="1" (keypress)="numberOnlyValidation($event)"formControlName="precio_prep" type="text"
                                    placeholder="Ingrese el precio" class="input input-bordered">
                            </label>
                        </div>
                        <div class="form-control">
                            <select name="listCat-Preparaciones" formControlName="id_cat_prep" 
                                required class=" mt-5 select select-bordered input-group-vertical">
                                <option disabled selected>Seleccione una categoria</option>
                                <option *ngFor="let categoria of responseListadoCategorias"
                                    value="{{ categoria.id_cat }}">{{ categoria.nombre_cat | titlecase}}</option>
                            </select>
                        </div>
                        <div class="form-control">
                            <label class="label">
                            </label>
                            <label
                                class="input-group input-group-vertical"><!--FALTA UNA FUNCION QUE VALIDE LA URL-->
                                <span>Link imagen</span>
                                <input pattern="(((ftp|http|https):\/\/)|(\/)|(..\/))(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?" 
                                    formControlName="imagen_prep" type="text"
                                    placeholder="enlace" class="input input-bordered" readonly />
                            </label>
                        </div>
                        <button type="button" class="btn" (click)="limpiarCampos()">Limpiar</button>
                        <div class="form-control">
                            <label class="label">
                            </label>
                            <label
                                class="input-group input-group-vertical"><!--FALTA UNA FUNCION QUE VALIDE LA URL-->
                                <span>Imagen</span>
                                <input  type="file"  (change)="onImagenSelecta($event)" class="file-input file-input-bordered w-full" #imagenInput />
                            </label>
                        </div>
                        <button class="mt-4 btn w-full max-w-auto" type="submit" >Siguiente</button>
                    </form>
                </div>
                <!--Fin formulario agregar Preparacion-->
                <!--Tabla de detallePrep-->
                <div class="container pt-10 w-fit" [hidden]="!mostrarFormDp">
                    <h1 class="text-xl text-VerdeHuelen font-bold text-center">Detalle Preparacion</h1>
                    <table class="block table table-zebra border-4 mx-auto w-fit  ">
                        <thead class="text-lg text-VerdeHuelen font-bold  text-center">
                            <tr class="text-center text-xl ">
                                <th>ID Preparación</th>
                                <th>ID ingrediente</th>
                                <th>Cantidad Necesaria</th>
                                <th>Tipo Unidad</th>
                                
                            </tr>   
                        </thead><!-- head -->
                        <tbody><!-- body -->
                            <tr class="text-center" *ngFor="let formDepPrep of getObjItems() | paginate:{itemsPerPage:5,currentPage:pagesDetallePrep,id:'sessPrep'}">
                                <td>{{''+ formDepPrep.detallePrep.id_prep | titlecase}}</td>
                                <td>{{''+formDepPrep.detallePrep.id_ingre }}</td>
                                <td>{{ formDepPrep.detallePrep.cantidad_necesaria }}</td>
                                <td>{{ formDepPrep.detallePrep.tipo_unidad }}</td>
                                <td>
                                    <button class="mt-4 btn max-w-auto btn-error" (click)="botonEliminarItem(formDepPrep)"></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot><!-- foot -->
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class=" sm:w-1/4 md:w-1/2 lg:w-1/3 last:text-center"><pagination-controls 
                                    id="sessPrep" 
                                    screenReaderPaginationLabel="Paginación"
                                    screenReaderPageLabel="página"
                                    screenReaderCurrentLabel="Estás en esta pagina" 
                                    (pageBoundsCorrection)="pagesPrep=$event" 
                                    (pageChange)="pagesPrep=$event" 
                                    previousLabel="" 
                                    nextLabel="" 
                                    [autoHide]="true"
                                    [responsive]="true"
                                    [maxSize]="5"
                                    class=" font-bold text-sm pb-1 pt-5 items-center "></pagination-controls>
                                </th>
                                
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!--FIN Tabla de detallePrep session Storage-->
                <!--Formulario agregar Detalle Preparacion-->
                <div class="container pt-20 w-fit" [hidden]="!mostrarFormDp" >
                    <h1 class="text-xl font-bold text-white text-center">Agregar Detalle Preparación</h1>
                    <form [formGroup]="formDetallePrep" (ngSubmit)="onCreate('createDetallePrep')">
                        <div class="form-control pt-4">
                            <label class=" input-group input-group-vertical w-full max-w-auto">
                                <span>Preparación</span>
                                <input type="text" readOnly formControlName="id_prep"  class="select select-bordered w-full max-w-auto" required>
                            </label>
                        </div>
                        <div class="form-control pt-4">
                            <label class=" input-group input-group-vertical w-full max-w-auto">
                                <span>Seleccione un ingrediente</span>
                                <select formControlName="id_ingre" formname="listIngred-DetallePrep"
                                    required class="select select-bordered w-full max-w-auto">
                                    <option value="{{ingrediente.id_ingre}}"
                                        *ngFor="let ingrediente of responseListadoIngrediente">
                                        {{ingrediente.nombre_ingre | titlecase}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-control pt-4 ">
                            <label class="input-group input-group-vertical w-full max-w-auto">
                                <span>Cantidad necesaria del ingrediente</span>
                                <input min="1" formControlName="cantidad_necesaria" type="number"
                                    placeholder="Ingrese la cantidad" class=" input input-bordered"
                                    (keypress)="numberOnlyValidation($event)" />
                            </label>
                        </div>
                        <div class="form-control pt-4">
                            <label class=" input-group input-group-vertical w-full max-w-auto">
                                <span>Seleccione unidad de medida</span>
                                <select formControlName="tipo_unidad" name="mlgr" required
                                    class=" select select-bordered w-full max-w-auto">
                                    <option disabled selected>ML o GR</option>
                                    <option value="ml">(Ml) Mililitro</option>
                                    <option value="gr">(Gr) Gramos</option>
                                </select>
                            </label>
                        </div>
                        <button class=" mt-4 btn w-full max-w-auto btn-success" type="submit" >+</button>
                        
                    </form>
            
                    <div class="">
                        <button class="mt-4 btn w-full max-w-auto btn-error" (click)="botonClearSession()">Borrar todo </button>
                        
                    </div>
                    <div>
                        <button for="my-modal" class="mt-4 btn w-full max-w-auto btn-warning" (click)="sendDetallePrep()"> Agregar</button>
                    </div>    
            </div>
                
            <!--TABLA DETALLE PREP-->
            <!-- Tabla DETALLE PREP -->
            <section>
                <div class=" w-full pt-10">
                    <h1 class="text-4xl text-neutral font-bold pb-10 text-center">Detalle Preparacion</h1>
                    <table class="block mx-auto table table-zebra table-auto  md:w-32 lg:w-48">
                        <thead class="text-4xl text-VerdeHuelen font-bold pb-10 text-center">
                            <tr class=" text-center text-1xl ">
                                <th>ID Detalle</th>
                                <th>ID Preparación</th>
                                <th>ID ingrediente</th>
                                <th>Cantidad Necesaria</th>
                                <th>Tipo Unidad</th>
                                <th><!--dropdown agregar detalle prep-->
                                    <div class="dropdown dropdown-left">
                                        <label tabindex="0" class="btn m-1 btn-success">Agregar <i class="pl-2 fa-solid fa-plus"></i> </label>
                                        <div tabindex="0" class="dropdown-content card w-96 p-2 shadow bg-neutral-focus ">
                                            <div class="card-body">
                                                <h1 class="text-xl font-bold text-white text-center">Agregar Detalle Preparación</h1>
                                                <form [formGroup]="formDetallePrep" (ngSubmit)="onCreate('createDetallePrep')">
                                                    <div class="form-control pt-4">
                                                        <label class=" input-group input-group-vertical w-full max-w-auto">
                                                            <span>Seleccione una Preparacion</span>
                                                            <select formControlName="id_prep" name="listPrep-DetallePrep" required
                                                                class="select select-bordered w-full max-w-auto" >
                                                                <option value="{{preparacion.id_prep}}"
                                                                    *ngFor="let preparacion of responseListadoPreparacion">
                                                                    {{preparacion.nombre_prep | titlecase}}</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <div class="form-control pt-4">
                                                        <label class=" input-group input-group-vertical w-full max-w-auto">
                                                            <span>Seleccione un ingrediente</span>
                                                            <select formControlName="id_ingre" form name="listIngred-DetallePrep"
                                                                required class="select select-bordered w-full max-w-auto">
                                                                <option value="{{ingrediente.id_ingre}}"
                                                                    *ngFor="let ingrediente of responseListadoIngrediente">
                                                                    {{ingrediente.nombre_ingre | titlecase}}</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <div class="form-control pt-4 ">
                                                        <label class="input-group input-group-vertical w-full max-w-auto">
                                                            <span>Cantidad necesaria del ingrediente</span>
                                                            <input min="1" formControlName="cantidad_necesaria" type="number"
                                                                placeholder="Ingrese la cantidad" class=" input input-bordered"
                                                                (keypress)="numberOnlyValidation($event)" />
                                                        </label>
                                                    </div>
                                                    <div class="form-control pt-4">
                                                        <label class=" input-group input-group-vertical w-full max-w-auto">
                                                            <span>Seleccione unidad de medida</span>
                                                            <select formControlName="tipo_unidad" name="mlgr" required
                                                                class=" select select-bordered w-full max-w-auto">
                                                                <option disabled selected>ML o GR</option>
                                                                <option value="ml">(Ml) Mililitro</option>
                                                                <option value="gr">(Gr) Gramos</option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <button class=" mt-4 btn w-full max-w-auto" type="submit">Crear</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </th> <!-- Fin dropdown agregar detalle prep-->
                            </tr>   
                        </thead><!-- head -->
                        <tbody><!-- body -->
                            <tr class="text-center" *ngFor="let detallePrepTabla of responseListadoDetallePrep | paginate:{itemsPerPage:5,currentPage:pagesDetallePrep,id:'DetallePrep'}">
                                <td>{{ detallePrepTabla.id_detalle_prep }}</td>
                                <td>{{ detallePrepTabla.nombre_prep | titlecase}}</td>
                                <td>{{ detallePrepTabla.nombre_ingre | titlecase}}</td>
                                <td>{{ detallePrepTabla.cantidad_necesaria }}</td>
                                <td>{{ detallePrepTabla.tipo_unidad | titlecase }}</td>
                                <th class="text-center">
                                    <div class="mr-10 ">
                                        <div class=" dropdown dropdown-left">
                                            <label class="btn bg-slate-700 hover:bg-green-500 hover:text-black" tabindex="0"
                                            (click)="seleccionarId(detallePrepTabla.id_detalle_prep) ; rellenarFormulario('formDetallePrep')">Editar
                                            <i class="pl-2 fa-solid fa-pencil text-green-600"></i>
                                            </label>
                                            <div tabindex="0" class="dropdown-content card  w-70 p-2 shadow bg-neutral-focus ">
                                                <div class="card-body">
                                                    <h1 class="text-xl font-bold pb-2 text-white text-center">Actualizar Detalle</h1>
                                                    <form [formGroup]="formDetallePrep"
                                                        (ngSubmit)="onActualizar('editDetallePrep', this.idSeleccionado)">
                                                        <div class="">
                                                            <div class="relative">
                                                                <div class="form-control pt-4">
                                                                    <label class=" input-group input-group-vertical w-full max-w-auto">
                                                                        <span>Seleccione una nueva Preparacion</span>
                                                                        <select formControlName="id_prep" name="listPrep-DetallePrep" required
                                                                            class="select select-bordered w-full max-w-auto">
                                                                            <option value="{{preparacion.id_prep}}"
                                                                                *ngFor="let preparacion of responseListadoPreparacion">
                                                                                {{preparacion.nombre_prep | titlecase}}</option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                                <!--input INGREDIENTE-->
                                                                <div class="form-control pt-4">
                                                                    <label class=" input-group input-group-vertical w-full max-w-auto">
                                                                        <span>Seleccione un nuevo ingrediente</span>
                                                                        <select formControlName="id_ingre" name="listIngred-DetallePrep"
                                                                            required class="select select-bordered w-full max-w-auto">
                                                                            <option value="{{ingrediente.id_ingre}}"
                                                                                *ngFor="let ingrediente of responseListadoIngrediente">
                                                                                {{ingrediente.nombre_ingre | titlecase}}</option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                                <!-- input-->
                                                                <div class="form-control pt-4 ">
                                                                    <label class="input-group input-group-vertical w-full max-w-auto">
                                                                        <span>Nueva cantidad necesaria del ingrediente</span>
                                                                        <input min="1" formControlName="cantidad_necesaria" type="number"
                                                                            placeholder="Ingrese la cantidad" class=" input input-bordered"
                                                                            (keypress)="numberOnlyValidation($event)" />
                                                                    </label>
                                                                </div>
                                                                <!-- input-->
                                                                <div class="form-control pt-4">
                                                                    <label class=" input-group input-group-vertical w-full max-w-auto">
                                                                        <span>Seleccione una nueva unidad de medida</span>
                                                                        <select formControlName="tipo_unidad" name="mlgr" required
                                                                            class=" select select-bordered w-full max-w-auto">
                                                                            <option disabled selected>ML o GR</option>
                                                                            <option value="ml">(Ml) Mililitro</option>
                                                                            <option value="gr">(Gr) Gramos</option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                                <!-- input-->
                                                                <button class=" mt-4 btn w-full max-w-auto  " type="submit">Crear</button>
                                                            </div>
                                                        </div>
                                                    </form> 
                                                </div>
                                            </div>
                                        </div>
                                        <button 
                                            [swal]="deleteDetallePrepSwal"
                                            class="btn bg-slate-700  btn-group-horizontal hover:text-black font-bold hover:bg-red-200"
                                            (click)="seleccionarId(detallePrepTabla.id_detalle_prep); ">Eliminar
                                            <i class="pl-2 fa-solid fa-trash text-red-600"></i>
                                        </button>
                                        <swal
                                            #deleteDetallePrepSwal
                                            title="¿Estás seguro de eliminar esta Receta?"
                                            icon="question"
                                            iconColor="#f8bb86"
                                            fontText="bold"
                                            confirmButtonText="<b>Sí,quiero eliminar</b>"
                                            cancelButtonText="<b>Cancelar</b>"
                                            confirmButtonColor = "#2b8565"
                                            [showCancelButton]="true"
                                            [focusCancel]="true"
                                            (confirm)="(onDelete('deleteDetallePrep',this.idSeleccionado))">
                                        </swal> 
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                        <tfoot><!-- foot -->
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class=" sm:w-1/4 md:w-1/2 lg:w-1/3 last:text-center"><pagination-controls 
                                    id="prep" 
                                    screenReaderPaginationLabel="Paginación"
                                    screenReaderPageLabel="página"
                                    screenReaderCurrentLabel="Estás en esta pagina" 
                                    (pageBoundsCorrection)="pagesPrep=$event" 
                                    (pageChange)="pagesPrep=$event" 
                                    previousLabel="" 
                                    nextLabel="" 
                                    [autoHide]="true"
                                    [responsive]="true"
                                    [maxSize]="5"
                                    class=" font-bold text-sm pb-1 pt-5 items-center "></pagination-controls></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </section><!-- Fin Tabla DETALLE PREP -->
            <!--FinTABLA DETALLE PREP-->
        </section>
    </div>
</main>