<main id="invoice-POS" #invoicePOS>
    <div>
        <div id="mid top">
            <div class="info text-black " style="margin-bottom: 20px;">
                <h2 class="font-bold mb-2 text-center">{{'{'}}...{{'}'}}cafeScript</h2>
                <ul class="mb-2 text-black font-bold">
                    <li>
                        <p class="">Sucursal: Providencia, Manuel Montt #357</p>
                    </li>
                    <li>
                        <p class="">Email: contacto@cafescript.com</p>
                    </li>
                    <li>
                        <p class="">Teléfono: 28323775</p>
                    </li>
                    <li></li>
                    <li>
                        <p class="">Fecha: {{infoBack?.fecha_compra | date: 'd/MM/yyyy HH:m'}}</p>
                    </li>
                    <li></li>
                    <!-- <li><p>Hora:<br> {{infoBack?.fecha_compra | date: 'HH:m'}}</p></li> -->
                    <br>
                </ul>
            </div>
        </div><!--End Invoice Mid-->
        <div id="bot">
            <div id="table">
                <table class="text-black font-bold">
                    <tr class="tabletitle ">
                        <td class="item text-xs">
                            <h2>Producto</h2>
                        </td>
                        <td class="Hours text-xs">
                            <h2>Cantidad</h2>
                        </td>
                        <td class="Rate text-xs">
                            <h2>Valor</h2>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tabletitle " *ngFor="let item of itemsCarrito">
                        <td class="item">
                            <h2 class="itemtext py-1">{{ item?.producto?.nombre_prep |titlecase}}</h2>
                        </td>
                        
                        <td class="Rate ">
                            <h2 class="itemtext text-center ">{{item?.cantidad}}</h2>
                        </td>
                        <td class="itemtext">
                            <h2>${{item?.producto?.precio_prep *
                                item?.cantidad | thousands }}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="tabletitle">
                        <td></td>
                        <td class="Rate text-xs">
                            <h2>Neto</h2>
                        </td>
                        <td class="itemtext">
                            <h2>${{orderCarrito.total_compra | thousands}}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="tabletitle">
                        <td></td>
                        <td class="Rate text-xs">
                            <h2>IVA</h2>
                        </td>
                        <td class="itemtext ">
                            <h2>${{orderCarrito.iva | thousands}}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr class="tabletitle">
                        <td class=""></td>
                        <td class="Rate text-xs ">
                            <h2>Total</h2>
                        </td>
                        <td class="payment itemtext">
                            <h2>${{+orderCarrito.total_compra + +orderCarrito.iva | thousands}}</h2>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div><!--End Table-->


            <div id="legalcopy" class="justify-center font-bold text-black">
                <h3 class="legal text-center text-black footertext">Orden ingresada, su número es el</h3>
                <h1 class="text-center footertext  text-black"> {{infoBack?.id_compra}}</h1>
                <h3 class="text-center footertext text-black">Le llamarán de caja a la brevedad</h3>
            </div>
            <br>
            <div class="qrcodeImage flex justify-center text-black">
                <qrcode [qrdata]="infoQr" [colorDark]="'#000000'" [width]="150" [errorCorrectionLevel]="'M'"
                    [imageHeight]="15" [imageWidth]="15"></qrcode>
            </div>
            <p class="text-center">NO VÁLIDO COMO BOLETA</p>
            <!-- <p class="text-center">SOLO USO CONTROL INTERNO</p> -->

        </div><!--End InvoiceBot-->
    </div><!--End Invoice-->
</main>
<!-- 
<button (click)="imprimirPDF()">AAAAAAAAA</button> -->
<style>
    .price {
        width: 10px;
    }
</style>