<main>
    <div id="invoice-POS">
        <div id="mid top">
            <div class="info text-base-100 mt-4 ">
                <h2 class="font-bold mb-2 text-center">{{'{'}}...{{'}'}}cafeScript</h2>
                <ul class="mb-2">
                    <li>
                        <p class="">Sucursal: Providencia, Manuel Montt #357</p>
                    </li>
                    <li>
                        <p class="">Email: contacto@cafescript.com</p>
                    </li>
                    <li>
                        <p class="">Teléfono: 28323775</p>
                    </li>
                    <li>
                        <p class="">Fecha: {{infoBack?.fecha_compra | date: 'd/MM/yyyy HH:m'}}</p>
                    </li>
                    <!-- <li><p>Hora:<br> {{infoBack?.fecha_compra | date: 'HH:m'}}</p></li> -->
                </ul>
            </div>
        </div><!--End Invoice Mid-->
        <div id="bot">
            <div id="table">
                <table class="text-base-100">
                    <tr class="tabletitle ">
                        <td class="item darkItem">
                            <h2>Producto</h2>
                        </td>
                        <td class="Hours darkItem">
                            <h2>Cantidad</h2>
                        </td>
                        <td class="Rate darkItem">
                            <h2>Valor</h2>
                        </td>
                    </tr>
                    <tr *ngFor="let item of itemsCarrito" class="service">
                        <td class="tableitem">
                            <p class="itemtext">{{ item?.producto?.nombre_prep |titlecase}}</p>
                        </td>
                        <td class="tableitem">
                            <p class="itemtext text-center">{{item?.cantidad}}</p>
                        </td>
                        <td class="tableitem">
                            <p class="itemtext">$ {{item?.producto?.precio_prep *
                                item?.cantidad | thousands }}</p>
                        </td>
                    </tr>

                    <tr class="tabletitle">
                        <td></td>
                        <td class="Rate">
                            <h2>Neto</h2>
                        </td>
                        <td class="payment">
                            <h2>$ {{orderCarrito.total_compra | thousands}}</h2>
                        </td>
                    </tr>
                    <hr>
                    <tr class="tabletitle">
                        <td></td>
                        <td class="Rate">
                            <h2>IVA</h2>
                        </td>
                        <td class="payment">
                            <h2>$ {{orderCarrito.iva | thousands}}</h2>
                        </td>
                    </tr>
                    <hr>
                    <tr class="tabletitle">
                        <td class="darkItem"></td>
                        <td class="Rate darkItem">
                            <h2>Total</h2>
                        </td>
                        <td class="payment darkItem">
                            <h2>${{+orderCarrito.total_compra + +orderCarrito.iva | thousands}}</h2>
                        </td>
                    </tr>

                </table>
            </div><!--End Table-->


            <div id="legalcopy" class="justify-center font-bold text-base-100">
                <h3 class="legal text-center text footertext">Orden ingresada, su número es el</h3>
                <h1 class="text-center footertext  "> {{infoBack?.id_compra}}</h1>
                <h3 class="text-center footertext">Le llamarán de caja a la brevedad</h3>
            </div>
            <div class="qrcodeImage flex justify-center">
                <qrcode [qrdata]="infoQr" [colorDark]="'#414558'" [width]="150" [errorCorrectionLevel]="'M'"
                    [imageHeight]="15" [imageWidth]="15"></qrcode>
            </div>
            <p class="text-center">NO VÁLIDO COMO BOLETA</p>
            <!-- <p class="text-center">SOLO USO CONTROL INTERNO</p> -->

        </div><!--End InvoiceBot-->
    </div><!--End Invoice-->
</main>

<button (click)="imprimirPDF()">AAAAAAAAA</button>