<section class="bg-base-content display-inline m-10 ">
    <!--cards-->
    <table class=" my-auto mx-12 p-3  ">
        <th class="w-2/12 h-2/6 "> 
            <div class=" card  m-5 bg-neutral">
                <div class="items-center card-body text-center">
                    <h2 class="card-title text-primary text-2xl">Numero de ventas</h2>
                    <div class="stat">
                        <div class="stat-title">Total hoy</div>
                        <div class="stat-value">{{responseComprasHoy.count | thousands}}</div>
                    </div>
                </div>
            </div>
        </th>
        <th class="w-2/12 h-2/6 "> 
            <div class=" card m-5 bg-neutral">
                <div class="items-center card-body text-center">
                    <h2 class="card-title text-primary text-2xl">Total recaudado</h2>
                    <div class="stat">
                        <div class="stat-title">Total hoy</div>
                        <div class="stat-value">{{responseRecaudacionHoy.total_compra | thousands}}</div>
                    </div>
                </div>
            </div>
        </th>
        <th class="w-2/12 h-2/6 ">
            <div class=" card m-5 bg-neutral">
                <div class="items-center card-body text-center">
                    <h2 class="card-title text-primary text-2xl">Numero de ventas</h2>
                    <div class="stat">
                        <div class="stat-title">Esta semana</div>
                        <div class="stat-value">{{responseComprasSemanal.count | thousands}}</div>
                    </div>
                </div>
            </div>
        </th>
        <th class="w-2/12 h-2/6  "> 
            <div class=" card m-5 bg-neutral ">
                <div class="items-center card-body text-center">
                    <h2 class="card-title text-primary text-2xl">Total recaudado</h2>
                    <div class="stat">
                        <div class="stat-title">Esta semana</div>
                        <div class="stat-value">{{responseRecaudacionSemanal.total_compra | thousands}}</div>
                    </div>
                </div>
            </div>
        </th>
    </table>
    <div ><!-- cards-->
    </div>
    <div class="chart-container bg-neutral-focus mx-16 p-3 my-10 rounded-lg">
        <canvas  id="comprasDiarias" ></canvas>
    </div> 
    <div class="chart-container bg-neutral-focus mx-16 pl-3 my-10 rounded-lg">
        <canvas id="ingresoDiario" ></canvas>
    </div>
    <div class="chart-container bg-neutral-focus mx-16 pl-3 my-10 rounded-lg">
        <canvas id="compraSemanalMes" ></canvas>
    </div>
    <div class="chart-container bg-neutral-focus mx-16 pl-3 my-10 rounded-lg">
        <canvas id="ingresoSemanalMes" ></canvas>
    </div>
</section>

