<main>
    <nav class="bg-gray-900">
        <a class="text-2xl font-bold text-base-content m-5 fixed">
            <span>{{'{..'}}</span><span class="text-warning">.</span><span>{{'}'}}cafe</span><span
                class="text-warning">S</span><span>cript</span>
        </a>
        <div class=" ml-44">
            <div class="bg-neutral py-4 ml-4 pl-4 shadow  text-2xl  text-white ">
                <h1 class="font-bold pl-2">Bienvenido al panel de administrador</h1>
            </div>
        </div>
    </nav>
    <div class="flex flex-col md:flex-row bg-gray-900 "><!--Bg fondo-->
        <app-navbar-admin></app-navbar-admin>
        <section id="main" class="bg-base-content  flex-1 mx-auto  "><!-- Cartas y Formularios-->
            <app-graficos-admin></app-graficos-admin>
        </section>
        
    </div>
    <app-footer-admin></app-footer-admin>
</main>

