
<nav class="bg-gray-900">
    <div class=" ml-44">
        <div class="bg-neutral py-4 ml-4 pl-4 shadow  text-2xl  text-white ">
            <h1 class="font-bold pl-2">Bienvenido al panel de administrador</h1>
        </div>
    </div>
</nav>
<div class="flex flex-col md:flex-row bg-gray-900 "><!--Bg fondo-->
    <app-navbar-admin></app-navbar-admin>
    <section id="main" class="bg-base-content h-screen flex-1 mx-auto   "><!-- Cartas y Formularios-->
        <div class="flex flex-nowrap"><!-- cards-->
            <div class="card w-86 bg-neutral inline-flex my-10 mx-10">
                <div class="items-center card-body text-center">
                    <h2 class="card-title text-primary text-2xl">Ventas de hoy</h2>
                    <div class="stat">
                        <div class="stat-title">Total Page Views</div>
                        <div class="stat-value">89,400</div>
                        <div class="stat-desc">21% more than last month</div>
                    </div>
                </div>
            </div>
            <div class="card w-86 bg-neutral inline-flex my-10 mx-10">
                <div class="items-center card-body text-center">
                    <h2 class="card-title text-primary text-2xl">Ventas de la semana</h2>
                    <div class="stat">
                        <div class="stat-title">Total Page Views</div>
                        <div class="stat-value">89,400</div>
                        <div class="stat-desc">21% more than last month</div>
                    </div>
                </div>
            </div>
            <div class="card w-86 bg-neutral inline-flex my-10 mx-10">
                <div class="items-center card-body text-center">
                    <h2 class="card-title text-primary text-2xl">Total recaudado hoy</h2>
                    <div class="stat">
                        <div class="stat-title">Total Page Views</div>
                        <div class="stat-value">89,400</div>
                        <div class="stat-desc">21% more than last month</div>
                    </div>
                </div>
            </div>
            <div class="card w-86 bg-neutral inline-flex my-10 mx-10">
                <div class="items-center card-body text-center">
                    <h2 class="card-title text-primary text-2xl">Total recaudado esta semana</h2>
                    <div class="stat">
                        <div class="stat-title">Total Page Views</div>
                        <div class="stat-value">89,400</div>
                        <div class="stat-desc">21% more than last month</div>
                    </div>
                </div>
            </div>
        </div>
        <app-graficos-admin></app-graficos-admin>
    </section>
</div>