<a href="#" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-gray-800 hover:border-purple-500">
    <!-- <i class="fa fa-envelope pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-400 md:text-gray-200 block md:inline-block">Ingredientes</span> -->
    <label for="my-modal-4" class="btn">Ingredientes</label>
</a>
<!-- modal 4-->
<form>  
    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
    <div class="modal">
        <div class="modal-box relative">
            <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="text-lg font-bold text">Ingredientes</h3>
            <!-- input-->
            <div class="form-control">
                <label class="label">
                </label>
                <label class="input-group input-group-vertical">
                <span>Marca</span>
                <input type="text" placeholder="Marca" class="input input-bordered" />
                </label>
            </div>
            <!-- input-->
            <!-- input-->
            <div class="form-control">
                <label class="label">
                </label>
                <label class="input-group input-group-vertical">
                <span>Descripcion</span>
                <input type="text" placeholder="Descripcion" class="input input-bordered" />
                </label>
            </div>
            <!-- input-->
            <!-- input-->
            <div class="form-control">
                <label class="label">
                </label>
                <label class="input-group input-group-vertical">
                <span>Cant ml o gr por unidad</span>
                <input type="number" placeholder="Cantidad" class="input input-bordered" />
                </label>
            </div>
            <!-- input-->
            <!-- input-->
            <div class="form-control">
                <label class="label">
                </label>
                <label class="input-group input-group-vertical">
                <span>Stock</span>
                <input type="number" placeholder="Stock" class="input input-bordered" />
                </label>
            </div>
            <!-- input-->
            <!-- input-->
            <div class="form-control">
                <label class="label">
                </label>
                <label class="input-group input-group-vertical">
                <span>ML o GR</span>
                <input type="text" placeholder="ML o GR" class="input input-bordered" />
                </label>
            </div>
            <!-- input-->
            <!-- input-->
            <div class="form-control">
                <label class="label">
                </label>
                <label class="input-group input-group-vertical">
                <span>Link imagen</span>
                <input type="text" placeholder="Link imagen" class="input input-bordered" />
                </label>
            </div>
            <!-- input-->
            <button class="ml-24 mt-2 btn btn-wide" type="submit">Guardar</button>
        </div>
    </div>
    <!-- modal 4-->
</form>