
    <!-- Botón para abrir el sidebar -->
    
    <div class="hidden md:flex md:flex-col  left-0 top-0 h-screen w-48 bg-gray-900  md:h-full md:w-48 content-center fixed pt-0"><!-- Nav Izquierda -->
      <div class="mt-navbar">
        <div class="md:block items-center ml-5 mb-10 md:mb-40">
          <div class="text-2xl font-bold text-base-content" style="width: 172px;">
            <span>{{'{..'}}</span><span class="text-warning">.</span><span>{{'}'}}cafe</span><span class="text-warning">S</span><span>cript</span>
          </div>
        </div>
        <ul class="menu w-full list-reset flex flex-row md:flex-col pt-5 md:pt-0 md:py-5 md:text-left">
          <li><a routerLink="/admin/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/admin/categoria" routerLinkActive="active">Categorias</a></li>
          <li><a routerLink="/admin/ingredientes" routerLinkActive="active">Ingredientes</a></li>
          <li><a routerLink="/admin/preparaciones" routerLinkActive="active">Preparaciones</a></li>
          <li><a routerLink="/admin/detalle-prep" routerLinkActive="active">Detalles preparaciones</a></li>
        </ul>
        <div class="mt-10">
          <a class="fixed bottom-0 left-0 mt-20 mb-10 ml-5 btn btn-secondary" (click)="cerrarSesion()">Cerrar sesión</a>
        </div>
      </div>
    </div>