<!-- 
    <div class=" hero bg-neutral-content" >
        <div class="card-normal bg-base-100 rounded-xl ">
            <div class="card-body items-center text-center">
                
            </div>   
        </div>
            <input type="checkbox" id="my-modal-5" class="modal-toggle " />
            <label for="my-modal-5" class="modal cursor-pointer ">
                <label class="rounded-xl bg-BeigeHuelen" >
                    <label for="my-modal-5" class="btn btn-l text-xl btn-circle btn-ghost ml-72 mt-3">✕</label>
                    <app-login-admin></app-login-admin>
                </label>
            </label>
    </div> -->
    <section class="mockup-window border bg-base-300 text-center  w-6/12">
        <div class="">
            <h1 class="mb-3 text-base-content text-7xl font-semibold ">Café Huelén</h1>
            <p class="text-secondary text-3xl "  >Seleccione un modo de arranque</p>
        </div>
        <div class="items-center my-10">
            <tr>
                <th>      
                    <button routerLink="/catalogo" class="bg-neutral btn glass px-20 h-80 mr-5  "><p class="text-base-content text-end text-xl ">Modo Catálogo</p> </button> 
                </th>
                <th>      
                    <label routerLink="/admin/home" for="my-modal-5" class="bg-neutral btn glass px-20 h-80  ml-5 "><p class="text-base-content text-end text-xl">Administrador</p></label>     
                </th>
            </tr>
        </div>
    </section>
<!---->
