<div class="hero max-h-screen max-w-screen" >
    <svg class="" xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 1600 832'>
        <rect fill='#F5DEB3' width='1600' height='900'/>
        <g fill-opacity='1'>
            <polygon  fill='#ded3ab' points='1600 160 0 460 0 350 1600 50'/>
            <polygon  fill='#c8c8a4' points='1600 260 0 560 0 450 1600 150'/>
            <polygon  fill='#b1bd9c' points='1600 360 0 660 0 550 1600 250'/>
            <polygon  fill='#9bb295' points='1600 460 0 760 0 650 1600 350'/>
            <polygon  fill='#84A78D' points='1600 900 0 900 0 750 1600 450'/>
        </g>
    </svg>
    <div class="card-normal  bg-VerdeHuelen rounded-xl">
        <div class="card-body items-center text-center">
            <div class="mb-5">
                <h1 class="mb-3 text-7xl font-semibold text-BeigeHuelen">Café Huelén</h1>
                <p class="text-black text-3xl text-BeigeHuelenen"  >Seleccione un modo de arranque</p>
            </div>
            <div>
                <tr>
                    <th>      
                        <button id="" routerLink="/catalogo" class="btn glass px-20 h-80 hover:bg-BeigeHuelen bg-BeigeHuelen2 mr-5"><p class="text-black text-end text-xl ">Modo Catálogo</p> </button> 
                    </th>
                    <th>      
                        <label routerLink="/admin/home" for="my-modal-5" class="btn glass px-20 h-80 hover:bg-BeigeHuelen bg-BeigeHuelen2 ml-5 "><p class="text-black text-end text-xl">Administrador</p></label>     
                    </th>
                </tr>
            </div>
        </div>   
    </div>
        <input type="checkbox" id="my-modal-5" class="modal-toggle " />
        <label for="my-modal-5" class="modal cursor-pointer ">
            <label class="rounded-xl bg-BeigeHuelen" >
                <label for="my-modal-5" class="btn btn-l text-xl btn-circle btn-ghost ml-72 mt-3">✕</label>
                <app-login-admin></app-login-admin>
            </label>
        </label>
</div>

<!---->
